/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: 'verdana', sans-serif !important;
  line-height: 1; }

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:link {
    text-decoration: none !important; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #31b1e7; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  min-height: 260px;
  background-image: url("../images/site-01.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header .logo {
    position: absolute;
    margin: 159px 0 0 48px; }
    header .logo img {
      width: 400px;
      height: 211px; }

main {
  min-height: 456px;
  background-color: #009788; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }
  main nav {
    position: absolute;
    float: right;
    margin: 12px 140px 0px 508px; }
    main nav ul {
      width: 700px; }
      main nav ul li {
        display: inline-block;
        margin: 20px 20px 0 0; }
        main nav ul li a {
          color: white;
          font-size: 14px;
          font-weight: 400; }
  main .texto {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #ffffff;
    line-height: 24px;
    margin: 107px 324px 7px 507px;
    float: right;
    position: absolute; }
  main p {
    margin: 0 0 -12px 0;
    width: 600px; }
  main h1 {
    font-size: 23px;
    font-style: normal !important;
    font-weight: normal !important; }
  main h2 {
    font-size: 13px;
    font-style: normal !important;
    font-weight: normal !important; }

footer {
  background-color: #009788; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  @media only screen and (min-width: 320px) and (max-width: 399px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 400px) and (max-width: 459px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 460px) and (max-width: 499px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 500px) and (max-width: 559px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 560px) and (max-width: 599px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 600px) and (max-width: 659px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 660px) and (max-width: 699px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 700px) and (max-width: 759px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 760px) and (max-width: 799px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 800px) and (max-width: 859px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 860px) and (max-width: 899px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 900px) and (max-width: 959px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 960px) and (max-width: 999px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 1000px) and (max-width: 1059px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1060px) and (max-width: 1099px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1100px) and (max-width: 1149px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1150px) and (max-width: 1199px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1249px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1250px) and (max-width: 1299px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1300px) and (max-width: 1359px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1360px) and (max-width: 1399px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1400px) and (max-width: 1459px) {
    footer {
      min-height: 37px; } }
  @media only screen and (min-width: 1460px) and (max-width: 1499px) {
    footer {
      min-height: 36px; } }
  @media only screen and (min-width: 1500px) and (max-width: 1559px) {
    footer {
      min-height: 57px; } }
  @media only screen and (min-width: 1560px) and (max-width: 1599px) {
    footer {
      min-height: 36px; } }
  @media only screen and (min-width: 1600px) and (max-width: 1649px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 1650px) and (max-width: 1699px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 1700px) and (max-width: 1749px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 1750px) and (max-width: 1799px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 1800px) and (max-width: 1849px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 1900px) and (max-width: 1949px) {
    footer {
      min-height: 55px; } }
  @media only screen and (min-width: 2000px) and (max-width: 2049px) {
    footer {
      min-height: 55px; } }
  footer .div-local-1 {
    float: left;
    margin: -50px 26px 0px 237px;
    position: absolute; }
  footer .div-email {
    float: left;
    margin: -50px 26px 0px 567px;
    position: absolute; }
  footer .div-local-2 {
    float: left;
    margin: -50px 26px 0px 793px;
    position: absolute; }
  footer div img {
    width: 28px; }
  footer div .local-1 {
    margin-left: 72px; }
  footer div .local-2 {
    margin-left: 81px; }
  footer div .email {
    margin-left: 22px;
    width: 52px; }
  footer div p {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 9px;
    font-style: normal !important;
    font-weight: normal !important;
    color: white;
    line-height: 5px;
    text-align: center; }

main .foto {
  margin: 120px 0 0 90px;
  float: left;
  width: 30%;
  position: absolute; }

main .galeria-1-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 1px 0 0 0; }

main .galeria-2-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 1px 0 0 216px; }

main .galeria-3-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 195px 0 0 0; }

main .galeria-4-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 194px 0 0 212px; }

footer .div-local-1 {
  float: left;
  margin: 170px 26px 0px 237px;
  position: absolute; }

footer .div-email {
  float: left;
  margin: 170px 26px 0px 670px;
  position: absolute; }

footer .div-local-2 {
  float: left;
  margin: 170px 26px 0px 1025px;
  position: absolute; }
