/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: 'verdana', sans-serif !important;
  line-height: 1; }

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:link {
    text-decoration: none !important; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #31b1e7; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  min-height: 300px;
  background-image: url("../images/site-01.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local; }

main .foto {
  margin: 120px 0 0 90px;
  float: left;
  width: 30%;
  position: absolute; }

main .galeria-1-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 1px 0 0 0; }

main .galeria-2-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 1px 0 0 216px; }

main .galeria-3-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 195px 0 0 0; }

main .galeria-4-mini {
  width: 200px;
  height: 179px;
  position: absolute;
  margin: 194px 0 0 212px; }

footer .div-local-1 {
  float: left;
  margin: 170px 26px 0px 237px;
  position: absolute; }

footer .div-email {
  float: left;
  margin: 170px 26px 0px 670px;
  position: absolute; }

footer .div-local-2 {
  float: left;
  margin: 170px 26px 0px 1025px;
  position: absolute; }
