/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: 'verdana', sans-serif !important;
  line-height: 1; }

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:link {
    text-decoration: none !important; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #31b1e7; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

.layout {
  background-color: gray;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }

.container {
  background-color: #009788;
  height: 100%;
  width: 81%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-device-width: 480px) {
    .container {
      width: 100%; } }
  @media only screen and (max-device-width: 480px) {
    .container {
      height: 82%; } }
  @media only screen and (max-device-width: 480px) {
    .container {
      align-self: center; } }
  .container .faixa-topo {
    order: -1;
    background-color: #009788;
    height: 5%; }

header {
  order: 1;
  display: flex;
  flex-direction: column-reverse;
  background-image: url("../images/site-01.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local; }
  header .logo {
    width: 31%;
    margin-left: 5%;
    margin-bottom: 5%; }

main {
  order: 2;
  height: 70%; }
  main .div-foto {
    display: flex;
    flex-direction: column; }
  main .foto {
    align-self: center;
    width: 63%; }
  main .config-div {
    text-align: center; }
  main .texto {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #ffffff;
    line-height: 14px; }
  main a {
    color: white;
    font-size: 8px;
    font-weight: 400; }

footer {
  order: 3; }
  footer p {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 4px;
    font-style: normal !important;
    font-weight: normal !important;
    color: white;
    line-height: 5px;
    text-align: center; }
  footer h1 {
    font-size: 23px;
    font-style: normal !important;
    font-weight: normal !important; }
  footer h2 {
    font-size: 13px;
    font-style: normal !important;
    font-weight: normal !important; }
  footer .local-1 {
    width: 22px; }
  footer .local-2 {
    width: 22px; }
  footer .email {
    width: 33px; }
  footer .config-div {
    text-align: center; }

body {
  color: white;
  font-family: Verdana, Geneva, sans-serif !important; }

h1 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal; }

h2 {
  font-size: 8px;
  font-style: normal;
  font-weight: normal; }

header {
  height: 20%; }

main {
  order: 2; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }
  main .row.nav {
    margin-top: 3px; }
  main .row.main {
    margin-top: 35px; }
  main .div-foto {
    display: flex;
    flex-direction: column; }
  main .foto {
    align-self: center;
    width: 88%; }
  main .texto {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #ffffff;
    line-height: 14px; }
  main a {
    font-size: 8px;
    font-weight: 400; }
