/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: 'verdana', sans-serif !important;
  line-height: 1; }

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:link {
    text-decoration: none !important; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #31b1e7; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

.layout {
  background-color: gray;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }

.container {
  background-color: #009788;
  height: 100%;
  width: 81%;
  display: flex;
  flex-direction: column; }

header {
  order: 1;
  min-height: 194px;
  background-image: url("../images/site-01.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local; }
  header .logo {
    position: absolute;
    margin: 109px 0 0 47px; }
    header .logo img {
      width: 344px;
      height: 179px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 90px;
  margin-top: 50px;
  order: 3; }
  footer .div-local-1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .div-local-1 .alinhamento {
      text-align: center;
      margin-left: 124px; }
    footer .div-local-1 div {
      width: 100%; }
  footer .div-email {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .div-local-2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .div-local-2 .alinhamento {
      text-align: center;
      margin-right: 124px; }
    footer .div-local-2 div {
      width: 100%; }
  footer div {
    background-color: #009788;
    width: 35%; }
    footer div img {
      width: 28px; }
    footer div .email {
      width: 52px; }
    footer div p {
      font-family: Verdana, Geneva, sans-serif !important;
      font-size: 9px;
      font-style: normal !important;
      font-weight: normal !important;
      color: white;
      line-height: 5px;
      text-align: center; }

h1 {
  font-size: 23px;
  font-style: normal !important;
  font-weight: normal !important; }

h2 {
  font-size: 13px;
  font-style: normal !important;
  font-weight: normal !important; }

main {
  order: 2;
  display: flex;
  background-color: #009788;
  height: 85%; }
  main .flex-texto-nav {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 27px; }
    main .flex-texto-nav .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      main .flex-texto-nav .nav a {
        color: white;
        font-size: 14px;
        font-weight: 400; }
    main .flex-texto-nav .texto {
      font-family: Verdana, Geneva, sans-serif !important;
      color: #ffffff;
      line-height: 24px;
      width: 80%; }
      @media screen and (max-height: 700px) {
        main .flex-texto-nav .texto {
          margin-top: 27px; } }
      @media screen and (min-height: 701px) {
        main .flex-texto-nav .texto {
          margin-top: 54px; } }
  main .flex-foto {
    order: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40%; }
    @media screen and (max-height: 700px) {
      main .flex-foto .foto {
        margin: 82px 0 0 68px; } }
    @media screen and (min-height: 701px) {
      main .flex-foto .foto {
        margin: 105px 0 0 68px; } }
    @media screen and (max-height: 640px) {
      main .flex-foto .foto {
        margin: 82px 0 0 110px; } }
    @media screen and (min-height: 641px) {
      main .flex-foto .foto {
        margin: 105px 0 0 68px; } }
    @media screen and (max-height: 700px) {
      main .flex-foto .foto img {
        width: 260px; } }
    @media screen and (min-height: 701px) {
      main .flex-foto .foto img {
        width: 300px; } }
    @media screen and (max-height: 700px) {
      main .flex-foto .foto img {
        height: 237px; } }
    @media screen and (min-height: 701px) {
      main .flex-foto .foto img {
        height: 283px; } }
    @media screen and (max-height: 640px) {
      main .flex-foto .foto img {
        height: 190px; } }
    @media screen and (min-height: 641px) {
      main .flex-foto .foto img {
        height: 283px; } }
    @media screen and (max-height: 640px) {
      main .flex-foto .foto img {
        width: 210px; } }
    @media screen and (min-height: 641px) {
      main .flex-foto .foto img {
        width: 283px; } }
