/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: 'verdana', sans-serif !important;
  line-height: 1;
  background-color: #009788; }

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:link {
    text-decoration: none !important; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #31b1e7; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  min-height: 280px;
  background-image: url("../images/site-01.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header .logo {
    position: absolute;
    margin: 179px 0 0 48px; }
    header .logo img {
      width: 400px;
      height: 211px; }

main {
  min-height: 480px;
  background-color: #009788; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }
  main nav {
    position: absolute;
    float: right;
    margin: 0 130px 0 601px; }
    main nav ul {
      width: 700px; }
      main nav ul li {
        display: inline-block;
        margin: 20px 20px 0 0; }
        main nav ul li a {
          color: white;
          font-size: 14px;
          font-weight: 400; }
  main .texto {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #ffffff;
    line-height: 24px;
    margin: 104px 319px 7px 600px;
    float: right;
    position: absolute; }
  main h1 {
    font-size: 23px;
    font-style: normal !important;
    font-weight: normal !important; }
  main h2 {
    font-size: 13px;
    font-style: normal !important;
    font-weight: normal !important; }

footer {
  min-height: 70px;
  background-color: #009788; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer .div-local-1 {
    float: left;
    margin: 24px 26px 0px 237px;
    position: absolute; }
  footer .div-email {
    float: left;
    margin: 24px 26px 0px 670px;
    position: absolute; }
  footer .div-local-2 {
    float: left;
    margin: 24px 26px 0px 1025px;
    position: absolute; }
  footer div img {
    width: 28px; }
  footer div .local-1 {
    margin-left: 72px; }
  footer div .local-2 {
    margin-left: 81px; }
  footer div .email {
    margin-left: 22px;
    width: 52px; }
  footer div p {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 9px;
    font-style: normal !important;
    font-weight: normal !important;
    color: white;
    line-height: 5px;
    text-align: center; }

main .foto {
  margin: 120px 0 0 90px;
  float: left;
  width: 30%;
  position: absolute; }

main .galeria-1-mini {
  width: 333px;
  height: 439px;
  position: absolute;
  margin: 1px 0 0 0; }

footer .div-local-1 {
  float: left;
  margin: 170px 26px 0px 237px;
  position: absolute; }

footer .div-email {
  float: left;
  margin: 170px 26px 0px 670px;
  position: absolute; }

footer .div-local-2 {
  float: left;
  margin: 170px 26px 0px 1025px;
  position: absolute; }
