main

	.foto
		margin: 120px 0 0 90px
		float: left
		width: 30%
		position: absolute

	.galeria-1-mini
		width: 200px
		height: 179px
		position: absolute
		margin: 1px 0 0 0

	.galeria-2-mini
		width: 200px
		height: 179px
		position: absolute
		margin: 1px 0 0 216px

	.galeria-3-mini
		width: 200px
		height: 179px
		position: absolute
		margin: 195px 0 0 0


	.galeria-4-mini
		width: 200px
		height: 179px
		position: absolute
		margin: 194px 0 0 212px

footer

	.div-local-1

		float: left
		margin: 170px 26px 0px 237px
		position: absolute

	.div-email

		float: left
		margin: 170px 26px 0px 670px
		position: absolute

	.div-local-2

		float: left
		margin: 170px 26px 0px 1025px
		position: absolute

