main
	order: 2
	display: flex
	background-color: #009788
	height: 85%

	.flex-texto-nav
		order: 2
		display: flex
		flex-direction: column
		width: 55%
		margin-top: 27px

		.nav
			display: flex
			flex-direction: row
			justify-content: space-between

			a
				color: $branco
				font-size: 14px
				font-weight: 400


		.texto
			font-family: Verdana, Geneva, sans-serif !important
			color: #ffffff
			line-height: 5px
			display: flex
			flex-direction: column
			margin-top: 57px
			height: 100%

			.desc-texto
				width: 100%
				margin-left: 62px

			iframe
				width: 80%
				height: 100%
				margin-top: 19px
				align-self: center

	.flex-foto
		font-family: Verdana, Geneva, sans-serif !important
		color: #ffffff
		line-height: 5px
		order: 1
		display: flex
		flex-direction: column
		margin-top: 94px
		width: 50%

		.desc-texto
			width: 100%
			margin-left: 57px

		iframe
			width: 80%
			height: 100%
			margin-left: 57px

		
