.layout
	background:
		color: gray

	height: 100%
	width: 100%

	display: flex
	justify-content: center

.container
	background:
		color: black
	height: 100%
	width: 80%


	display: flex
	flex-direction: column


header
	order: 1	

	

main
	display: flex
	background-color: #009788
	order: 2

	.logo 
		img 
			width: 386px
			height: 204px

	nav
		ul
			li
				display: inline-block

				a
					padding: 10px;
					color: $branco
					font-size: 14px
					font-weight: 400

	.foto
		order: 1
		width: 200px;

		img
			width: 300px
			height: 283px

	.texto
		order: 2	
		font-family: Verdana, Geneva, sans-serif !important
		color: #ffffff
		line-height: 24px

footer
	order: 3

	div
		background:
			color: green

h1
	font-size: 23px
	font-style: normal !important
	font-weight: normal !important

h2 
	font-size: 13px
	font-style: normal !important
	font-weight: normal !important

