header
	height: 20%	
	//@media only screen and (max-device-width: 480px) {height: 20%}

main
	order: 2
	+clearfix
	
	.row.nav
		margin-top: 3px

	.row.main
		margin-top: 35px

	.div-foto
		display: flex
		flex-direction: column

	.foto
		align-self: center
		width: 88%

	.texto
		font-family: Verdana, Geneva, sans-serif !important
		color: #ffffff
		line-height: 14px
	a
		font-size: 8px
		font-weight: 400



