header
	height: 30%	

main

	.flex-texto-nav

		.texto
			font-family: Verdana, Geneva, sans-serif !important
			color: #ffffff
			line-height: 24px
			width: 80%
			margin-top: 13%

	.flex-foto
		order: 1
		display: flex
		flex-direction: column
		align-items: center
		width: 40%
		
		.foto
			background:
				image: url('../images/foto.png')
				position: top center
				repeat: no-repeat
				size: contain
				attachment: local
			height: 100%
			width: 62%
			margin-top: 10%


