footer

	+clearfix
	min-height: 70px
	background:
		color: #009788

	.div-local-1

		float: left
		margin: 24px 26px 0px 237px
		position: absolute

	.div-email

		float: left
		margin: 24px 26px 0px 670px
		position: absolute

	.div-local-2

		float: left
		margin: 24px 26px 0px 1025px
		position: absolute
		
	div

		img
			width: 28px

		.local-1
			margin-left: 72px

		.local-2
			margin-left: 81px

		.email
			margin-left: 22px
			width: 52px

		p
			font-family: Verdana, Geneva, sans-serif !important
			font-size: 9px
			font-style: normal !important
			font-weight: normal !important
			color: $branco
			line-height: 5px
			text-align: center
