header
	+clearfix
	min-height: 280px

	background:
		image: url('../images/site-01.jpg')
		position: top center
		repeat: no-repeat
		size: cover
		attachment: scroll


	.logo 
		position: absolute
		margin: 179px 0 0 48px
    	
		img 
			width: 400px
			height: 211px

