header
	order: 1
	height: 25%	
	display: flex
	flex-direction: column-reverse
	
	background:
		image: url('../images/site-01.jpg')
		position: top center
		repeat: no-repeat
		size: cover
		attachment: local


	.logo 
		background:
			image: url('../images/logo.png')
			position: top center
			repeat: no-repeat
			size: contain
			attachment: local
		height: 95%
		width: 100%
		margin-left: -29%

