main
	+clearfix
	
	min-height: 480px

	background:
		color: #009788

	nav
		position: absolute
		float: right
		margin: 0 130px 0 601px

		ul
			width: 700px

			li
				display: inline-block
				margin: 20px 20px 0 0
				a
					color: $branco
					font-size: 14px
					font-weight: 400

	.foto
		margin: 120px 0 0 90px
		float: left
		width: 30%

		img
			width: 300px
			height: 283px
		
	.texto	
		font-family: Verdana, Geneva, sans-serif !important
		color: #ffffff
		line-height: 24px
		margin: 119px 319px 7px 600px
		float: right
		position: absolute

	h1
		font-size: 23px
		font-style: normal !important
		font-weight: normal !important

	h2 
		font-size: 13px
		font-style: normal !important
		font-weight: normal !important

	


