main
	order: 2
	display: flex
	background-color: #009788
	height: 58%

	.flex-texto-nav
		order: 2
		display: flex
		flex-direction: column
		width: 55%
		margin-top: 27px

		.nav
			display: flex
			flex-direction: row
			justify-content: space-between

			a
				color: $branco
				font-size: 14px
				font-weight: 400